@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$peach: #f4a3a4;
$peach-lighter: #ffebeb;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $peach;
$link: $peach;
$widescreen-enabled: false;
$fullhd-enabled: false;

$menu-item-hover-color: $primary;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$sidebar-width: 220px;

// Import only what you need from Bulma
@import "bulma-0.9.1/bulma";

.is-sidebar-menu {
  padding: 0.5rem 1.5rem;
  border-radius: 0;
}

.footer {
  padding: 1rem 1rem 1rem;
}

.brand-icons {
  margin-left: auto;
  max-height: $navbar-height;
}

$breadcrumb-height: 2rem;

.breadcrumb-container {
  position: fixed;
  width: 100%;
  height: $breadcrumb-height;
  box-shadow: 15px 1em 1em -0.125em rgba($scheme-invert, 0.05), 0 0px 0 0px rgba($scheme-invert, 0.02);
  z-index: 29;
}

#breads {
  @extend .card;
  border-radius: 0;
  padding: calc((#{$breadcrumb-height})/2 - 0.75rem) 1rem;
  box-shadow: none;

  a {
    color: $primary;

    .icon {
      margin-right: 0.2rem;
    }

  }
}

.use-max {
  height: 100%;
  width: 100%;
}


.sidenav {
  @extend .card;
  max-width: $sidebar-width;
  min-width: $sidebar-width;
  width: $sidebar-width;
  border-radius: 0;
}

.main-content {
  padding: 1.5rem;
  margin-top: $breadcrumb-height;
}

$result-entry-size: 16rem;

.card-entry {
  @extend .card;
  max-height: 19rem;
}

.embedded-search {
  margin: 0 1.5rem;
}
//
//.navbar {
//  background-color: $primary;
//}

.is-fullheight {
  @include from($tablet);
  max-height: calc(100vh - #{$navbar-height});
  min-height: calc(100vh - #{$navbar-height});
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  .column {
    overflow-y: auto;
  }
}

.navbar-dropdown .navbar-label {
  padding-left: 1rem;
}

.card-shields {
  text-align: right;
  width: 100%;
  position: absolute;
  padding: 0.5rem;
}

.card-shield {
  @extend .tag;
  margin-left: 0.5rem;
}

.result-grid {
  justify-items: center;
  display: grid;
  //grid-template-columns: repeat(auto-fit, minmax($result-entry-size, 1fr));
  grid-template-columns: repeat(auto-fill, minmax($result-entry-size, 1fr));
  grid-gap: 1.5em;
}

#toplogo {
  width: $sidebar-width;
  height: $navbar-height;

  img {
    display: flex;
    justify-content: center;
    height: 32px;
    margin: 10px 10px 10px 1.5rem;
  }
}