$sidebar-width: 220px;

.use-max {
  height: 100%;
  width: 100%;
}

.sidenav {
  @extend .card;
  max-width: $sidebar-width;
  min-width: $sidebar-width;
  width: $sidebar-width;
  border-radius: 0;
}

.is-sidebar-menu {
  padding: 0.5rem 1.5rem;
}

#topsearch {
  @extend .is-hidden-touch;

  margin: auto;

  .input {
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
  }
}
