p.menu-label.navbar-label General
ul.menu-list
    li: a(href="index.html").navbar-item Dashboard
    li: a(href="concepts.html").navbar-item Concepts
    li: a(href="repos.html").navbar-item Repositories
ul.menu-list
    //li
    //    a.is-active Something Else
    //    ul
    //        li: a Members
    //        li: a Plugins
    //        li: a Add a member
p.menu-label.navbar-label Kubernetes
ul.menu-list
    li: a(href="kubeapps.html").navbar-item Apps
    li: a(href="stats.html").navbar-item Statistics
