.control.has-icons-left.has-icons-right
    input.is-hovered.is-small.input(placeholder="Search...")
    span.icon.is-small.is-left
        i.fas.fa-search
    span#search-go.icon.is-small.is-right.is-hidden
        i.fas.fa-arrow-right