p.menu-label.navbar-label General
ul.menu-list
    li: a(href="/").navbar-item Dashboard
    li: a(href="/concepts").navbar-item Concepts
    li: a(href="/repos").navbar-item Repositories
ul.menu-list
    //li
    //    a.is-active Something Else
    //    ul
    //        li: a Members
    //        li: a Plugins
    //        li: a Add a member
p.menu-label.navbar-label Kubernetes
ul.menu-list
    li: a(href="/stats").navbar-item Dashboard
    li: a(href="/kubeapps").navbar-item Apps
